<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.myproject.model.mapper.EmployeeMapper">
	<resultMap type="EmployeeDTO" id="employeeListRM">
		<result column="dname" property="departmentDTO.dname" />
		<result column="loc" property="departmentDTO.loc" />
	</resultMap>
	<select id="findEmployeeLisyByDeptNo" parameterType="int"
		resultMap="employeeListRM">
		select e.empno,e.ename,d.dname,d.loc
		from springboot_department d, springboot_employee e
		where d.deptno=e.deptno
		and d.deptno=#{value}
	</select>
</mapper>