<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.model.HumanResourceMapper">
	<select id="getAllDepartmentList" resultType="map">
		select deptno,dname,loc from spring_department
	</select>
	<select id="findEmployeeAndDeptByEmpNo" resultType="map">
		select e.ename,d.dname,d.loc
		from spring_employment e, spring_department d
		where e.empno=#{value} and e.deptno=d.deptno
	</select>
	<select id="findEmployeeAndDeptListOuterJoin" resultType="map">
		select e.empno,e.ename,e.deptno,d.dname
		from spring_employment e, spring_department d
		where e.deptno(+)=d.deptno
	</select>
	<select id="getEmpGroupByDeptno">
	select g.deptno,d.dname,g.emp_count
	from(select deptno,count(*) as emp_count
	from spring_employment
	group by deptno
	)g, spring_department d
	where g.deptno=d.deptno
	order by g.deptno desc
</select>
</mapper>